# Ignorar dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar arquivos de build
build/
dist/

# Ignorar relatórios do Playwright
test-results/
playwright-report/

# Ignorar arquivos do ambiente
.env

# Ignorar cache do editor de código
.vscode/
.idea/
.DS_Store

